 <div class="main-title-wrapper">
    <div class="main-title">
        <h1> Will_it_Flood? </h1>
        <div class="button-effect">
            <a class="effect effect-5" href="/floodform" title="Report Flood">REPORT FLOOD</a>
        </div>
        <div class="button-effect">
            <a class="effect effect-5" href="/willitflood" title="Calendar">CALENDAR</a>
        </div>
    </div>
</div>