// Place all the styles related to the Floods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flood-form-wrapper {
    width: 100%;
    height: calc(100% - 2em - 20px);
    position: absolute;
    top: calc(2em + 20px);
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    &.hidden {
        display: none;
    }
}

.flood-form {
    z-index: 3;
    background-color: white;
    display: block;
    padding: 1em;
    box-sizing: border-box;
    
    h4 {
        margin: 0;
    }
    textarea {
        resize: none;
        width: 100%;
        min-height: 10em;
    }
}