// Place all the styles related to the Floods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flood-report-map {
    width: 100%;
    height: 300px;
    background-color: lightgray;
}

