.main-title-wrapper {
    background-image: image-url("flooding.png");
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;

    .main-title {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        margin-top: 10em;
        text-align: center;

        h1 {
            color: transparent;
            background-image: url("will-it-flood.png");
            background-size: contain;
            background-repeat: no-repeat;
            font-size: 6em;
            margin: 0;
        }

        a {
            display: inline-block;
            font-weight: bold;
            color: white;
            font-size: 2em;
            margin: 1em 2em;
        }
    }
}
