.navigation-header {
    margin: 0;
    background-color: turquoise;
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 2em;
    h1 {
        margin: 0;
        flex: 1;
        a {
            margin: 0;
        }
    }

    nav {
        flex: 3;
        text-align: right;
    }

    a {
        color: inherit;
        text-decoration: none;
        margin: 0 2em;
    }
}