<header class="navigation-header">
    <h1><%= link_to "Will it Flood?", root_path %></h1>
<nav>
    <%= link_to "Report Flood", "/floodform" %>
    <%= link_to "Calendar", "/willitflood" %>
</nav>
</header>