<header class="navigation-header">
    <h1><%= link_to "Seal Level Rise", root_path %></h1>
<nav>
    <%= link_to "Will It Flood", "/willitflood" %>
    <%= link_to "Flood Form", "/floodform" %>
</nav>
</header>